# Get a client token at https://www.mapillary.com/dashboard/developers (register an app, copy "Client Token")
MAPILLARY_TOKEN=MLY|xxxxxxxxxxxxxxx|yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
# Optional: only needed if aerial.url_template uses Mapbox
MAPBOX_TOKEN=
